:root {
  --color-1: #036;
  --bg-1: #f3f3f3;
  --bg-2: #00082e;
  --decor: #636d82e3;
}
section {
  padding: 100px 0;
}
header {
  background-image: url(../img/about--bg.png);
  background-size: cover;
  background-position: center right;
  background-repeat: no-repeat;
}
footer {
  padding: 24px 0;
}
a {
  text-decoration: none;
  color: inherit;
  transition: opacity 0.4ms ease;
}
a:hover {
  color: inherit;
  opacity: 0.7;
}
li {
  list-style: none;
}
/* нав */
.nav-link {
  font-size: 1.2rem;
  color: var(--color-1);
  transition: opacity 0.4ms ease;
}
.nav-link:hover {
  color: var(--color-1);
  opacity: 0.65;
}
/* хедер */
.logo-box {
  max-width: 160px;
  height: 100%;
  margin-bottom: 18%;
} 
header .content-box {
  border-radius: 12px;
  color: var(--bs-white);
  background-color: var(--decor);
}
header .content-box p {
  margin: 0;
}
/* о нас */
.about {
  padding: 70px 0;
}
.line {
  width: 100px;
  height: 3px;
  background-color: var(--decor);
  margin: 0 auto;
}
:nth-child(1 of .line) {
  width: 90%;
}
.btn-pe-box {
  padding: 150px 0;
}
.btn-pe {
  max-width: 280px;
  margin: 0 auto;
  padding: 16px 30px;
  color: var(--bs-white);
  background-color: var(--bs-green);
  font-weight: 500;
  transition: opacity 0.4ms ease;
}
.btn-pe:hover {
  color: var(--bs-white);
  opacity: 0.7;
}
/* преимущества */
.pe-card {
  border-radius: 8%;
}
.features .pe-card {
  max-width: 260px;
}
.features .pe-card h3{
  color: var(--color-1);
}
.features .pe-card p {
  font-weight: 500;
}
/* услуги */
.service .pe-card{
  box-shadow: 5px 5px 20px 5px rgba(0,0,0,0.4);
}
.service .pe-card img {
  border-radius: 8% 8% 0 0;
}
.service .pe-card h5 {
  color: var(--color-1);
}
.service .pe-card p {
  font-weight: 500;
}
/* график */
.carousel-item-box {
  display: flex;
  align-items: center;
  height: 100%;
}
.graph img {
  object-fit: contain;
}
/* контакты */
.item-heading {
  font-size: 1.4rem;
  font-weight: 500;
}
.item-content {
  color: var(--bs-dark);
}
/* цвет */
.color-1 {
  color: var(--color-1);
}
.color-2 {
  color: var(--bs-white);
}
.bg-1 {
  background-color: var(--bg-1);
}
.bg-2 {
  background-color: var(--bg-2);
}